.idea/
.vscode/
__pycache__
.DS_Store
media/
env.sh
media/
db.sqlite3
my_py.cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.venv
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
