{% extends 'base.html' %}

{% load static %}

{% block title %}
{{ player.full_name }} | Чемпионат по фиджитал играм
{% endblock %}

{% block body %}

        <main class="main">
            <section class="member__info">
                <div class="member-info__container">
                    <div class="member__dannye">
                        <h2 class="team-info__title">{{ player.full_name }}</h2>
                        <p class="team-info__text">
                            Полное Имя: <span class="regular">{{ player.full_name }}</span>
                        </p>
                        <p class="team-info__text">
                            Родился: <span class="regular">{{ player.birthday }}</span>
                        </p>
                        <p class="team-info__text">
                            Гражданство <span class="regular">{{ player.nationality }}</span>
                        </p>
                        <p class="team-info__text">
                            Город: <span class="regular">{{ player.city }}</span>
                        </p>
                        <p class="team-info__text">
                            Данные: <span class="regular">{{ player.height }} см / {{ player.weight }} кг</span>
                        </p>
                    </div>
                    {% if player.photo %}
                    <div class="member__photo">
                        <img class="member" src="{{ player.photo.url }}" alt="{{ player.full_name }}">
                    </div>
                    {% else %}
                    <div class="member-without__photo">
                        <img class="without__photo" src="{{ player.team.logo.url }}" alt="Логотип">
                        <img class="without-photo__decor" src="{% static 'images/without-photo.png' %}" alt="Свечение">
                    </div>
                    {% endif %}
                </div>
            </section>
            <section class="member-facts">
                <img class="member__decor1" src="{% static 'images/teamd2.png' %}" alt="Декор">
                <img class="member__decor2" src="{% static 'images/teamd.png' %}" alt="Декор">
                <div class="member-facts__container">
                    <img src="{{ player.label_photo.url }}" alt="{{ player.full_name }}" class="member-facts__photo">
                    <div class="member-text__container">
                        <div class="facts__oformlenie">
                            <img class="adaptiv-member__facts" src="{% static 'images/facts.svg' %}" alt="Цитата">
                            <p class="member-facts__text">
                                {{ player.quote }}
                            </p>
                        </div>

                        <h2 class="team-info__title">Интересные факты </h2>
                        {% for fact in facts %}
                        <div class="flex">
                            <p class="orange">{{ forloop.counter }})</p>
                            <p class="member__facts">{{ fact.fact }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <section class="social-media">
                <div class="social-media__container">
                    <h2 class="title2">СЛЕДИТЕ ЗА ВСЕМИ НОВОСТЯМИ В НАШИХ <br>
                        СОЦИАЛЬНЫХ СЕТЯХ</h2>
                    <div class="social-media__elements">
                        <a href="https://vk.com/gamesofuture" class="social-media__item">
                            <img src="{% static 'images/vk.png' %}" alt="Вконтакте" class="social-media__icon">
                        </a>
                        <a href="https://t.me/myfuturesport" class="social-media__item">
                            <img src="{% static 'images/telegram.png' %}" alt="Телеграм" class="social-media__icon">
                        </a>
                        <a href="https://www.youtube.com/@GoFutureGames" class="social-media__item">
                            <img src="{% static 'images/youtube.png' %}" alt="Ютуб" class="social-media__icon">
                        </a>
                        <a href="https://www.twitch.tv/gamesofuture" class="social-media__item">
                            <img src="{% static 'images/twitch.png' %}" alt="Твич" class="social-media__icon">
                        </a>
                        <a href="https://www.instagram.com/game_of_the_future2024?igsh=MzRlODBiNWFlZA==" class="social-media__item">
                            <img src="{% static 'images/instagram.png' %}" alt="Инстаграм" class="social-media__icon">
                        </a>
                    </div>
                </div>
            </section>
        </main>


{% endblock %}