{% extends 'base.html' %}

{% load static %}

{% block title %}
Команды | Чемпионат по фиджитал играм
{% endblock %}

{% block body %}

<main class="main">
    <section class="teams">
        <img src="{% static 'images/team.png' %}" alt="Декор" class="team__decor1">
        <img class="team__decor2" src="{% static 'images/decor1.svg' %}" alt="Декор">
        <h1 class="title">КОМАНДЫ ЧЕМПИОНАТА ПО ФИДЖИТАЛ <br> СНОУБОРДИНГУ</h1>
        <div class="teams__container">
            {% for team in teams %}
            <div class="team__card">
                <div class="team-card__logo hvr-grow-shadow">
                    <a href="{% url 'team' team.slug %}"><img src="{{ team.logo.url }}" alt="Логотип" class="team__logo"></a>
                </div>
                <p class="team-card__name">
                    <a href="newkids-page.html" class="team__link">{{ team.name }}</a>
                </p>
            </div>
            {% endfor %}
        </div>
    </section>
</main>

{% endblock %}