{% extends 'base.html' %}

{% load static %}

{% block title %}
Турнирная Сетка | Чемпионат по фиджитал играм
{% endblock %}

{% block body %}

        <main class="main">

            <section class="tournament-page">
                <h1 class="title adaptiv__title">ТУРНИРНИРНАЯ СЕТКА ЧЕМПИОНАТА <br> ПО ФИДЖИТАЛ СНОУБОРДИНГУ</h1>
                <p class="download__text">Нажмите на кнопку ниже, чтобы скачать турнирную таблицу</p>
                <a href="/images/download.png" class="download" download="tournament">Скачать</a>
                <div class="tournament-page__container">
                    <div class="tournament-page__elements">
                        <div class="tournament-page__item">
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'kemiran-kochkarov' %}" class="tourmanemt-link__name">Кемеран Кочкаров</a>
                            </div>
                            <div class="tournament-page__element">
                                <a href="{% url 'player' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt="" class="tournament-link__img newkids">
                                </a>
                                <a href="{% url 'player' 'egor-kaldikov' %}" class="tourmanemt-link__name">Егор Кальдиков</a>
                            </div>
                        </div>
                        <div class="tournament-page__item">
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'markel-andronov' %}" class="tourmanemt-link__name">Маркел Андронов</a>
                            </div>
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt="" class="tournament-link__img newkids">
                                </a>
                                <a href="{% url 'player' 'savva-vostokov' %}" class="tourmanemt-link__name">Савва Востоков</a>
                            </div>
                        </div>
                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__item2">
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'kemiran-kochkarov' %}" class="tourmanemt-link__name">Кемеран Кочкаров</a>
                            </div>
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                    <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'huan-pablo-gomes' %}" class="tourmanemt-link__name">Хуан Пабло</a>
                            </div>
                        </div>
                        <div class="tournament-page__elements">
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt="" class="tournament-link__img newkids">
                                </a>
                                <a href="{% url 'player' 'savva-vostokov' %}" class="tourmanemt-link__name">Савва Востоков</a>
                            </div>
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                    <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'anhelo-karo' %}" class="tourmanemt-link__name">Анхело Каро</a>
                            </div>

                        </div>
                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__item3">
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'kemiran-kochkarov' %}" class="tourmanemt-link__name">Кемеран Кочкаров</a>
                            </div>
                            <div class="tournament-page__element">
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt="" class="tournament-link__img newkids">
                                </a>
                                <a href="{% url 'player' 'savva-vostokov' %}" class="tourmanemt-link__name">Савва Востоков</a>
                            </div>
                        </div>

                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__item3">
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'ivon-dzhon-martinez' %}" class="tourmanemt-link__name">Ивон Джон</a>
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt=""
                                        class="tournament-link__img newkids__right">
                                </a>
                            </div>
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'matias-delolio' %}" class="tourmanemt-link__name">Матиас ДельОлио</a>
                                <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                    <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                            </div>
                        </div>


                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__item2">
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'ivon-dzhon-martinez' %}" class="tourmanemt-link__name">Ивон Джон</a>
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt=""
                                        class="tournament-link__img newkids__right">
                                </a>
                            </div>
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'franko-morales' %}" class="tourmanemt-link__name">Франко Моралес</a>
                                <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                    <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img logo__right">
                                </a>
                            </div>
                        </div>
                        <div class="tournament-page__item">
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'semen-kutuzov' %}" class="tourmanemt-link__name">Семен Кутузов</a>
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt=""
                                        class="tournament-link__img logo__right">
                                </a>
                            </div>
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'matias-delolio' %}" class="tourmanemt-link__name">Матиас ДельОлио</a>
                                <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                    <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__item">
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'egor-gluhov' %}" class="tourmanemt-link__name">Егор Глухов</a>
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt=""
                                        class="tournament-link__img logo__right">
                                </a>
                            </div>
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'ivon-dzhon-martinez' %}" class="tourmanemt-link__name">Ивон Джон</a>
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt=""
                                        class="tournament-link__img newkids__right">
                                </a>
                            </div>
                        </div>
                        <div class="tournament-page__item">
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'semen-kutuzov' %}" class="tourmanemt-link__name">Семен Кутузов</a>
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt=""
                                        class="tournament-link__img logo__right">
                                </a>
                            </div>
                            <div class="tournament-page__element right">
                                <a href="{% url 'player' 'dmitrij-dvojnishnikov' %}" class="tourmanemt-link__name">Дмитрий Двойн.</a>
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt=""
                                        class="tournament-link__img newkids__right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="title__tournament-page">ФИНАЛ</h2>

                <div class="tournament-page__final">
                    <div class="tournament-page__elements">
                        <div class="tournament__element">
                            <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="tournament-link__img">
                            </a>
                            <a href="{% url 'player' 'kemiran-kochkarov' %}" class="tourmanemt-link__name">Кемеран Кочкаров</a>
                        </div>
                        <div class="tournament__element">
                            <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                <img src="{% static 'images/newkids-logo.png' %}" alt="" class="tournament-link__img newkids">
                            </a>
                            <a href="{% url 'player' 'savva-vostokov' %}" class="tourmanemt-link__name">Савва Востоков</a>
                        </div>
                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__group">
                            <div class="tournament__element">
                                <a href="{% url 'team' 'love-kazan' %}" class="tournament-page__link">
                                    <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="tournament-link__img">
                                </a>
                                <a href="{% url 'player' 'kemiran-kochkarov' %}" class="tourmanemt-link__name">Кемеран Кочкаров</a>
                            </div>
                        </div>
                        <div class="tournament__element">
                            <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                <img src="{% static 'images/newkids-logo.png' %}" alt="" class="tournament-link__img newkids">
                            </a>
                            <a href="{% url 'player' 'savva-vostokov' %}" class="tourmanemt-link__name">Савва Востоков</a>
                        </div>
                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament-page__group">
                            <div class="tournament__element">
                                <a href="{% url 'player' 'ivon-dzhon-martinez' %}" class="tourmanemt-link__name">Ивон Джон</a>
                                <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                    <img src="{% static 'images/newkids-logo.png' %}" alt=""
                                        class="tournament-link__img newkids__right">
                                </a>
                            </div>
                        </div>
                        <div class="tournament__element">
                            <a href="{% url 'player' 'matias-delolio' %}" class="tourmanemt-link__name">Матиас ДельОлио</a>
                            <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img logo__right">
                            </a>
                        </div>
                    </div>
                    <div class="tournament-page__elements">
                        <div class="tournament__element">
                            <a href="{% url 'player' 'ivon-dzhon-martinez' %}" class="tourmanemt-link__name">Ивон Джон</a>
                            <a href="{% url 'team' 'new-kids-turbo' %}" class="tournament-page__link">
                                <img src="{% static 'images/newkids-logo.png' %}" alt=""
                                    class="tournament-link__img newkids__right">
                            </a>
                        </div>
                        <div class="tournament__element">
                            <a href="{% url 'player' 'matias-delolio' %}" class="tourmanemt-link__name">Матиас ДельОлио</a>
                            <a href="{% url 'team' 'the-flaccos' %}" class="tournament-page__link">
                                <img src="{% static 'images/flacco-logo.png' %}" alt="" class="tournament-link__img">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tournament-page__winners">
                    <div class="tournament__winner">
                        <img src="{% static 'images/lovekazan-logo.png' %}" alt="" class="winner__img">
                        <p class="winner__name">Кемеран Кочкаров</p>
                        <p class="winner__number">1</p>
                        <p class="winner__place">место</p>
                    </div>
                    <div class="tournament__winner">
                        <img src="{% static 'images/newkids-logo.png' %}" alt="" class="winner-newkids__img">
                        <p class="winner__name">Ивон Джон</p>
                        <p class="winner__number">2</p>
                        <p class="winner__place">место</p>
                    </div>
                    <div class="tournament__winner">
                        <img src="{% static 'images/flacco-logo.png' %}" alt="" class="winner-flacco__img">
                        <p class="winner__name">Матиас ДельОлио</p>
                        <p class="winner__number">3</p>
                        <p class="winner__place">место</p>
                    </div>
                </div>
            </section>
        </main>

{% endblock %}