{% extends 'base.html' %}

{% block body %}
{% if cart %}
                {% for item in cart %}
                    {% with souvenir=item.souvenir %}
                        <p>{{ souvenir.name }}</p>
                        <p>{{ souvenir.price }}</p>
                    {% endwith %}
                {% endfor %}
            {% else %}
                <p class="empty__cart">
                    Your cart is empty.
                </p>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                
                {% for field in form %}
                <div>
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
                {% endfor %}
                <button type="submit">Оформить заказ</button>
            </form>

{% endblock %}