{% extends 'base.html' %}

{% load static %}

{% block title %}
Корзина | Чемпионат по фиджитал играм
{% endblock %}

{% block body %}


<main class="main">
    <section class="backet-page">
        <h1 class="title">ВАШИ ЗАКАЗЫ</h1>
        {% if cart %}
        <div class="backet-page__container">
            <table class="backet-page__table">
                <thead class="table__head">
                    <tr class="table__title">
                        <th class="table-title__item">Товар</th>
                        <th class="table-title__item">Количество</th>
                        <th class="table-title__item">Цена</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    {% with souvenir=item.souvenir %}
                    <tr class="table-content">
                        <td class="table-content__photo">
                            <img src="{{ souvenir.image.url }}" alt="{{ souvenir.name }}" class="table-content__img">
                            <p class="table-tovar__name">{{ souvenir.name }}</p>
                        </td>
                        <td class="table-content__item">{{ item.quantity }} шт</td>
                        <td class="table-content__item">{{ souvenir.price }} ₽</td>
                        <td class="table-content__item">
                            <a href="{% url 'cart_remove' souvenir.id %}"
                                class="table__delet hvr-sweep-to-right">Удалить</a>
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            <form method="POST" class="backet__total">
                <div class="backet-total__price">
                    <p class="total">ИТОГО</p>
                    <p class="total">{{ cart.get_total_price }} ₽</p>
                </div>

                {% csrf_token %}
                {% for field in form %}
                <label class="backet-total__label" for="{{ field.auto_id }}">{{ field.label }}</label><br>
                {{ field }}<br>
                {{ field.errors }}
                {% endfor %}

                <button type="submit" class="backet-total__btn">Оформить заказ</button>
            </form>
        </div>

        {% else %}
                <p class="no-backet">Ваша корзина совсем пуста, отправляйтесь за покупками :)</p>
                <a href="{% url 'shop' %}" class="no-page__btn">Перейти к сувенирам</a> 
        {% endif %}
    </section>
</main>

{% endblock %}