{% extends 'base.html' %}

{% load static %}

{% block title %}
Изменение пароля | Чемпионат по фиджитал играм
{% endblock %}

{% block body %}

<main class="main">
    <section class="personal-page">
        <h1 class="title">ИЗМЕНЕНИЕ ПАРОЛЯ</h1>
        <div class="edit-page__container">
            <img src="{% static 'images/profile-icon.png' %}" alt="Пользователь" class="edit-user__avatar">
            <form method="POST" class="edit-page__content">
                {% csrf_token %}
                {% for field in form %}
                    <label class="edit-page__label" for="{{ field.auto_id }}">{{ field.label }}</label><br>
                    {{ field.errors }}
                    {{ field }}<br>
                {% endfor %}
                <button class="edit-page__btn" type="submit">Изменить пароль</button>
            </form>
        </div>

    </section>
</main>

{% endblock %}