<html>
    <body>
        <h1 style="font-size: 26px; margin-bottom: 30px;">Вся необходимая информация о Вашем билете.</h1>
        <p>Ваш ряд: {{ticket.booked_seat.row}}</p>
        <p>Ваше место: {{ticket.booked_seat.column}}</p>
        <p>Дата: {{ticket.game.date|date}}</p>
        <p>Время: {{ticket.game.date|time}}</p>
        <p>Место проведения: {{ticket.game.location.name}}</p>
        <img style="margin-top: 50px;
            margin-bottom: 20px;
            width: 300px;" src="https://digital-snowboard.ru/static/images/code.png" alt="Штрих-код" class="ticket__code">
            
    </body>
</html>